.hidden {
  display: none;
}

img {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

main {
  width: 100%;
  position: relative;
}
main .bg {
  background-image: url(../img/opening__bg.png);
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
main .bg .bg__container {
  position: absolute;
  width: 750px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -95px;
}

.pay__container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  background: #fff;
  padding: 20px 60px;
  opacity: 0;
  visibility: hidden;
}
.pay__container.is-active {
  opacity: 1;
  visibility: visible;
}
.pay__container .text__outer {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
.pay__container .btn__outer {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 45px;
       column-gap: 45px;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 20px;
}
.pay__container .btn__outer button.pay-btn {
  width: 100px;
}
.pay__container .btn__outer button.pay-btn.no-pay {
  color: red;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid #000;
  border-radius: 50%;
  padding: 5px;
}
.pay__container .btn__outer button.pay-btn:nth-of-type(5) {
  width: 150px;
}

.dialog__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.dialog__container.is-active {
  opacity: 1;
  visibility: visible;
}
.dialog__container .dialog__outer {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 25%;
  left: 50%;
  transform: translateX(-50%);
}
.dialog__container .dialog__outer .close-btn {
  position: absolute;
  top: 8px;
  right: 13px;
  font-size: 30px;
  cursor: pointer;
}
.dialog__container .dialog__outer .dialog__content {
  background: #fff;
  width: 600px;
  padding: 30px 40px;
}
.dialog__container .dialog__outer .dialog__content .btn__outer {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
}
.dialog__container .dialog__outer .dialog__content .btn__outer .dialog-btn {
  width: 100px;
  height: 40px;
}
.dialog__container .dialog__outer .dialog__content .btn__outer .dialog-btn + .dialog-btn {
  margin-left: 30px;
}

.battle__container {
  position: absolute;
  width: 100%;
}
.battle__container .npc__outer {
  position: absolute;
}
.battle__container .btn__outer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
}
.battle__container .btn__outer.is-active {
  visibility: visible;
  opacity: 1;
}
.battle__container .btn__outer .battle-btn {
  width: 200px;
  padding: 20px;
  border-radius: 50%;
}
.battle__container .btn__outer .battle-btn + .battle-btn {
  margin-left: 100px;
}/*# sourceMappingURL=style.css.map */